.compralist{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px 0px;
}

.compras .compra-item{
    list-style-position: inside;
    margin: 5px;
    padding: 5px 15px;
    border-radius: 10px;
    background:#f5a5a5;
}

.lista-register{
    margin: 10px 0px;
}

.lista-register label {
    display: block;
    font-size: 14px;
    color: #2d3436;
}

.lista-register input {
    border-radius: 10px;
    outline: none;
    border: 1px 0 solid rgba(252, 0, 252, 0.466);
    padding: 5px 10px;
}

.lista-register button{
    padding: 5px 10px;
    outline: none;
    border: none;
    background: #5dff86;
    border-radius: 10px;
    margin-left: 5px;
}